* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: white;
}

.contenedor {
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.logo {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.titulo {
    font-size: 4rem;
    font-weight: 900;
    color: #0E0E17;
    margin-top: 10px;
}

.subtitulo {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
    color: #0E0E17;
}

.campo {
    width: 430px;
    height: 70px;

    margin: 25px auto;
    display: block;

    border: 3px solid #3C3C3C;
    border-radius: 14px;

    padding-left: 20px;

    font-size: 1.6rem;
    font-weight: 500;
}

.campo::placeholder {
    color: #B9B9B9;
}

.btn-confirmar {
    width: 430px;
    height: 80px;

    background: #FF5400;
    color: white;

    font-size: 2rem;
    font-weight: 700;

    border: none;
    border-radius: 14px;

    margin-top: 30px;
    cursor: pointer;
}
