* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: white;
}

.contenedor {
    text-align: center;
    width: 100%;
    padding-top: 40px;
}

#Logo {
    width: 190px;
    display: block;
    margin: 0 auto;
}

.titulo {
    font-size: 4.2rem;
    font-weight: 900;
    color: #0E0E17;
    margin-top: 5px;
}

.subtitulo {
    font-size: 1.1rem;
    font-weight: 600;
    color: #0E0E17;
    margin-top: 2px;
}

.campo {
    width: 370px;
    height: 70px;
    margin: 22px auto 0 auto;
    display: block;

    border-radius: 14px;
    border: 3px solid #4A4A4A;

    font-size: 1.6rem;
    padding-left: 22px;
    color: #0E0E17;

    outline: none;
}

.campo::placeholder {
    color: #C7C7C7;
}

.boton-confirmar {
    width: 370px;
    height: 80px;
    background: #FF5400;
    border: none;
    border-radius: 14px;

    font-size: 2rem;
    font-weight: 700;
    color: white;

    margin-top: 40px;
    cursor: pointer;
}
