* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: white;
}

.contenedor {
    text-align: center;
    width: 100%;
    padding-top: 35px;
}

#Logo {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.titulo {
    font-size: 4rem;
    font-weight: 900;
    color: #0E0E17;
    margin-top: 10px;
}

.subtitulo {
    font-size: 1.05rem;
    font-weight: 500;
    color: #0E0E17;
    margin-top: 4px;
}

.boton-principal {
    width: 360px;
    height: 72px;
    background: #D9D9D9;
    border: none;
    border-radius: 14px;
    font-size: 1.55rem;
    font-weight: 700;
    color: black;
    margin: 35px auto 0 auto;
    display: block;
    cursor: pointer;
}

.linea {
    width: 82%;
    height: 4px;
    background: black;
    margin: 50px auto 40px auto;
}
