body{
  background-color: rgb(255, 255, 255);
  
}
.contenedor {
  
  display: flex;
  justify-content: flex-start;
  gap: 20px; 
  
}
.cajarecor{
  width: 20rem;           
  height: 15rem;           
  background-color: rgb(243, 202, 68); 
  padding: 3rem;   
  margin: 3rem;         
  display: flex;
  flex-direction: row;
}
.cajalarga {
  width: 70rem; 
  height: 5rem;             
  background-color: rgb(247, 181, 51);
  padding: 20px;
  margin-top: 20px;
  margin-left: 3rem;
  align-items: center;   
  justify-content: center; 
}
.sidebar {
  width: 7rem;                  
  background-color: rgb(100, 100, 150); 
  padding: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
}

.layout {
  display: flex;
  height: 100vh; 
   }