body{
  background-color: rgb(168, 166, 166);
}

.contenido {
  flex: 1; /* Take up the remaining horizontal space */
  display: flex;
  flex-direction: column; /* Stack content and cajalarga vertically *//
}

.contenedor {
  display: flex;
  justify-content: flex-start;
  gap: 20px; 
  border-radius: 15px;
  flex: 1;
}
.cajarecor {
  position: relative;
  width: 20rem;
  min-height: 15rem; 
  background-color: rgb(230, 105, 21);
  padding: 1rem; 
  margin: 3rem;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}
.cajalarga {
  width: calc(100%); 
  height: 5rem;
  background-color: rgb(230, 105, 21);
  padding: 20px;
  margin-left: 7rem; 
  align-items: center;
  justify-content: center;
  display: flex; 
}
.sidebar {
  width: 7rem; 
  background-color: rgb(100, 100, 150);
  padding: 20px;
  
  margin-top: 20px;
}

.layout {
  display: flex;
  height: 100vh; 
  flex-direction: row; 
}

 .Botoncitos{
    gap: 10px;      
    margin: 8px 0;  
    position: relative;
  }

.caji {
    background-color: #333;  
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    text-align: center;
    width: 16rem;             
    height: 30px;            
    line-height: 30px;       
    margin: 5px;  
    position: relative;          
}