body{
  background-color: rgb(168, 166, 166);
  
  
}
.contenedor {
  
  display: flex;
  justify-content: flex-start;
  gap: 20px; 
  border-radius: 15px;
  
}
.cajarecor{
  width: 20rem;           
  height: 15rem;           
  background-color: rgb(230, 105, 21); 
  padding: 3rem;   
  margin: 3rem;         
  display: flex;
  flex-direction: row;
}
.cajalarga {
  width: 70rem; 
  height: 5rem;             
  background-color: rgb(230, 105, 21);
  padding: 20px;
  margin-top: 20px;
  margin-left: 3rem;
  align-items: center;   
  justify-content: center; 
}
.sidebar {
  width: 7rem;                  
  background-color: rgb(100, 100, 150); 
  padding: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
}

.layout {
  display: flex;
  height: 100vh; 
   }

  .Botoncitos{
    gap: 10px;      
    margin: 8px 0;  
  }

  .caji {
    background-color: #333;  
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    text-align: center;
    width: 16rem;             
    height: 30px;            
    line-height: 30px;       
    margin: 5px;  
              
}